.dashboard-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70vh;
    margin:auto;
    gap:0% 15%;


}


/*used for the component in /components/page/Dasboard/DashboardCard*/
.dashboard-card-outline{
    flex: 0 0 calc(35%);
    height: calc(35%);

    border: solid 8px black;
    border-width: 1px;
    border-radius: 12px;
    border-color: #919090a0;

    background-color:#3c85c547;
}

.dashboard-card-text{
    font-family: 'Courier New', Courier, monospace;

    color: white;
}