.dashboard-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 40vh;
    margin: 0;
    gap:15%;
}


/*used for the component in /components/page/Dasboard/DashboardCard*/
.dashboard-outline{
    flex: 0 0 calc(25%);
    height: calc(25%);
    border: solid 8px black;
    border-width: 2px;

    background-color:red;
}